
p{color: rgb(163, 162, 160);}
h1{color: rgb(17, 4, 129);}

ul{color: rgb(6, 117, 12);}


body{background-color: rgba(137, 43, 226, 0.158);}


#myImage {
    border: 2px solid black; /* Задаем рамку */
}